<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Help.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelpMerchant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HelpWorker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BDB92F21D0C805100EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93061D0C805100EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93111D0C805100EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93271D0C80CB00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB933A1D0C80CB00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93451D0C80CB00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93591D0C80DC00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB936C1D0C80DC00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BDB93771D0C80DC00EBF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
